<div class="row">
  <div class="col-md-12">
    <form (submit)="onSaveAgent(agentForm)" #agentForm="ngForm">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="code">รหัสตัวแทน</label>
            <input type="text" id="code" name="code" [ngModel]="agent?.code" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">ชื่อตัวแทน</label>
            <input type="text" id="name" name="name" [ngModel]="agent?.name" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="imgUrl">Image URL</label>
            <input type="text" id="imgUrl" name="imagePath" [ngModel]="agent?.imagePath" class="form-control" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
