<div class="row" style="text-align: center">
  <h1>เลขถูกรางวัล</h1>
</div>
<div class="row mb-3" id="print-section">
  <div class="row mb-3">
    <div class="mb-3 row header" style="text-align: center">
      <label for="code" class="col-md-2 col-form-label">ตัวแทน</label>
      <div class="col-md-2">
        <input
          style="text-transform: uppercase; text-align: center"
          type="text"
          class="form-control"
          id="code"
          name="code"
          [ngModel]="agent"
          placeholder="รหัสตัวแทน"
        />
      </div>
      <label for="customer" class="col-md-2 col-form-label">ลูกค้า</label>
      <div class="col-md-2">
        <input
          style="text-transform: uppercase; text-align: center"
          type="text"
          class="form-control"
          id="customer"
          name="customer"
          [ngModel]="customer"
          placeholder="ลูกค้า"
        />
      </div>
      <label for="date" class="col-md-2 col-form-label">งวด</label>
      <div class="col-md-2">
        <input
          style="text-transform: uppercase; text-align: center"
          type="text"
          class="form-control"
          id="date"
          name="period"
          [ngModel]="period"
          placeholder="งวด"
        />
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 table-responsive">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="lottoNo">
          <th mat-header-cell *matHeaderCellDef="">เลข</th>
          <td mat-cell *matCellDef="let data">{{ data.items.lottoNo }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef="">ประเภท</th>
          <td mat-cell *matCellDef="let data">
            {{ data.items.categoryId.cate_name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef="">ราคา</th>
          <td mat-cell *matCellDef="let data">{{ data.items.price }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef="">ส่วนลด</th>
          <td mat-cell *matCellDef="let data">{{ data.items.discount }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="netPrice">
          <th mat-header-cell *matHeaderCellDef="">ราคาสุทธิ</th>
          <td mat-cell *matCellDef="let data">{{ data.items.netPrice }}</td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <ng-container matColumnDef="totalRewards">
          <th mat-header-cell *matHeaderCellDef="">ยอดถูกรางวัล</th>
          <td mat-cell *matCellDef="let data">{{ data.totalRewards }}</td>
          <td mat-footer-cell *matFooterCellDef>{{ sumTotal}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: right">
    <button
      mat-raised-button
      color="primary"
      [useExistingCss]="true"
      styleSheetFile="/src/app/reward-check-dialog/reward-check-dialog.component.css"
      rintTitle="เลขถูกรางวัล"
      printSectionId="print-section"
      ngxPrint
    >
      พิมพ์
    </button>
  </div>
</div>
