<div class="row">
  <div class="col-md-12" style="text-align: center">
    <p>โพย</p>
  </div>
</div>
<form (submit)="onSaveList(ListForm)" #ListForm="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3 row header" style="text-align: center">
        <label for="code" class="col-md-2 col-form-label">ตัวแทน</label>
        <div class="col-md-2">
          <input
            style="text-transform: uppercase; text-align: center"
            type="text"
            class="form-control"
            id="code"
            name="code"
            [ngModel]="agentId"
            placeholder="รหัสตัวแทน"
          />
        </div>

        <label for="date" class="col-md-2 col-form-label">งวด</label>
        <div class="col-md-2">
          <input
            style="text-transform: uppercase; text-align: center"
            type="date"
            class="form-control"
            id="date"
            name="period"
            [ngModel]="period"
            placeholder="งวด"
          />
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-8">
      <div class="list-table mt-3 mb-3" style="height: 40vh">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="lottoNo">
            <th mat-header-cell *matHeaderCellDef>เลข</th>
            <td mat-cell *matCellDef="let data">{{ data.lottoNo }}</td>
          </ng-container>

          <ng-container matColumnDef="categoryId">
            <th mat-header-cell *matHeaderCellDef>ประเภท</th>
            <td mat-cell *matCellDef="let data">
              {{ data.categoryId.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>ราคา</th>
            <td mat-cell *matCellDef="let data">{{ data.price }}</td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef>ส่วนลด</th>
            <td mat-cell *matCellDef="let data">{{ data.discount }}</td>
          </ng-container>

          <ng-container matColumnDef="netPrice">
            <th mat-header-cell *matHeaderCellDef>ราคาสุทธิ</th>
            <td mat-cell *matCellDef="let data">{{ data.netPrice }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>action</th>
            <td mat-cell *matCellDef="let data">
              <button
                mat-icon-button
                color="warn"
                class="material-icons-outlined"
                (click)="onRemoveItem(data._id)"
              >
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <mat-divider></mat-divider>
      <div class="list-table" style="height: 40vh">
        <div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="mb-3 row" style="text-align: center">
                  <label for="total" class="col-md-4 col-form-label"
                    >ยอดรวม</label
                  >
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      id="total"
                      name="totalNet"
                      [ngModel]="totalNet"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="mb-3 row" style="text-align: center">
                <label for="three_top" class="col-md-4 col-form-label"
                  >3 ตัวบน</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="three_top"
                    name="topThreeDigits"
                    [ngModel]="totalTopThreeDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="three_todd" class="col-md-4 col-form-label"
                  >3 ตัวโต๊ด</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="three_todd"
                    name="toddThreeDigits"
                    [ngModel]="totalToddThreeDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="three_first" class="col-md-4 col-form-label"
                  >3 ตัวหน้า</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="three_first"
                    name="firstThreeDigits"
                    [ngModel]="totalFirstThreeDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="three_last" class="col-md-4 col-form-label"
                  >3 ตัวท้าย</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="three_last"
                    name="lastThreeDigits"
                    [ngModel]="totalLastThreeDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="three_down" class="col-md-4 col-form-label"
                  >3 ตัวล่าง</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="three_down"
                    name="downThreeDigits"
                    [ngModel]="totalDownThreeDigits"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 row" style="text-align: center">
                <label for="two_top" class="col-md-4 col-form-label"
                  >2 ตัวบน</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    id="two_top"
                    name="topTwoDigits"
                    [ngModel]="totalTopTwoDigits"
                    placeholder="0"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="two_down" class="col-md-4 col-form-label"
                  >2 ตัวล่าง</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    id="two_down"
                    placeholder="0"
                    name="downTwoDigits"
                    [ngModel]="totalDownTwoDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="running_down" class="col-md-4 col-form-label"
                  >วิ่งล่าง</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="running_down"
                    name="downRunDigits"
                    [ngModel]="totalDownRunDigits"
                  />
                </div>
              </div>

              <div class="mb-3 row" style="text-align: center">
                <label for="running_top" class="col-md-4 col-form-label"
                  >วิ่งบน</label
                >
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="0"
                    class="form-control"
                    id="running_top"
                    name="topRunDigits"
                    [ngModel]="totalTopRunDigits"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <mat-divider
        [vertical]="true"
        style="height: 80vh; float: left"
      ></mat-divider>
    </div>
    <div class="col-md-3">
      <div class="clearLists position-relative" style="height: 40vh">
        <button
          class="btn btn-danger position-absolute top-50 start-40 translate-middle"
        >
          ล้างโพย
        </button>
      </div>
      <div class="end position-relative" style="height: 50vh">
        <button
          class="btn btn-primary position-absolute top-50 start-40 translate-middle"
          routerLink="/menu/agents"
        >
          จบรายการ
        </button>
      </div>
    </div>
  </div>
</form>
