<div class="container-fluid">
  <div class="container">
    <form>
      <div class="col-md-12" style="text-align: center;">
      <h1>ตรวจรางวัล</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-2 row">
            <label for="daily" class="col-md-4 col-form-label"
              >งวดประจำวันที่</label
            >
            <div class="col-md-8">
              <input type="date" id="daily" class="form-control" />
            </div>
          </div>
          <div class="mb-2 row">
            <label for="firstPrize" class="col-md-4 col-form-label"
              >รางวัลที่ 1</label
            >
            <div class="col-md-8">
              <input type="text" id="firstPrize" class="form-control" />
            </div>
          </div>
          <div class="mb-2 row">
            <label for="threeRearPrize" class="col-md-4 col-form-label"
              >เลขท้าย 3 ตัว</label
            >
            <div class="col-md-8">
              <input type="text" id="threeRearPrize" class="form-control" />
            </div>
          </div>
          <div class="mb-2 row">
            <label for="threeFrontPrize" class="col-md-4 col-form-label"
              >เลขหน้า 3 ตัว</label
            >
            <div class="col-md-8">
              <input type="text" id="threeFrontPrize" class="form-control" />
            </div>
          </div>
          <div class="mb-2 row">
            <label for="twoDown" class="col-md-4 col-form-label"
              >2 ตัวล่าง</label
            >
            <div class="col-md-8">
              <input type="text" id="twoDown" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <h1 style="text-align: center;">table</h1>
  </div>
</div>
