<div class="container-fluid">
  <div class="container mb-3">
    <form (submit)="onCheckOrders(checkForm)" #checkForm="ngForm">
      <div class="col-md-12" style="text-align: center">
        <h1>ตรวจสอบโพย</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-2 row">
            <label for="daily" class="col-md-4 col-form-label"
              >งวดประจำวันที่</label
            >
            <div class="col-md-8">
              <input
                type="date"
                id="daily"
                class="form-control"
                name="period"
                ngModel
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">
          <button mat-raised-button color="primary" type="submit">ค้นหา</button>
        </div>
      </div>
    </form>
  </div>
  <mat-divider class="mb-3"></mat-divider>
  <div class="row" *ngIf="dataSource">
    <div class="col-md-12">
      <div class="list-table mt-3 mb-3" style="height: 40vh">
        <div
          class="d-flex justify-content-between align-items-center p-3 search_form"
        >
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Search Orders</mat-label>
            <input [(ngModel)]="textSearch" (keyup)="search($event)" matInput />
            <mat-icon matSuffix *ngIf="!textSearch">search</mat-icon>
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              ตัวแทน
            </th>
            <td mat-cell *matCellDef="let data" class="text-center">
              {{ data.agentId.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              ลูกค้า
            </th>
            <td mat-cell *matCellDef="let data" class="text-center">
              {{ data.customer }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalLists">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              จำนวนรายการ
            </th>
            <td mat-cell *matCellDef="let data" class="text-center">
              {{ data.items.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              วันจดรายการ
            </th>
            <td mat-cell *matCellDef="let data" class="text-center">
              {{ data.createdAt | date: "longDate"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
            <td mat-cell *matCellDef="let data" class="text-center">
              <!-- <a [routerLink]="['/menu/order/details', data._id]">
                <button
                  mat-flat-button
                  color="primary"
                  class="material-icons-outlined"
                >
                  ตรวจสอบโพย
                </button>
              </a> -->
              <button type="button" (click)="openDialog(data._id)"
                  mat-flat-button
                  color="primary"
                  class="material-icons-outlined"
                >
                  ตรวจสอบโพย
                </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
