<div class="col-md-12">
  <img
    class="rounded-circle float-end avatar"
    src="https://www.w3schools.com/howto/img_avatar.png"
    alt=""
  />
</div>
<div class="col-md-12 row">
  <h1 class="username">{{ userName }}</h1>
</div>
<mat-divider class="mt-4"></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/menu/overviews">
    <span><mat-icon>dashboard</mat-icon></span>
    ภาพรวม
  </a>
  <a mat-list-item routerLink="/menu/agents">
    <span><mat-icon>people</mat-icon></span>
    ตัวแทน
  </a>
  <a mat-list-item routerLink="/menu/over-priced">
    <span><mat-icon>assignment</mat-icon></span>
    โพยยอดเกิน
  </a>
  <a mat-list-item routerLink="/menu/reward-check">
    <span><mat-icon>stars</mat-icon></span>
    ตรวจรางวัล
  </a>

  <a mat-list-item routerLink="/menu/order/check">
    <span><mat-icon>fact_check</mat-icon></span>
    ตรวจสอบโพย
  </a>
</mat-nav-list>
<mat-divider class="mt-4"></mat-divider>
<h3 matSubheader>Settings</h3>
<mat-nav-list>
  <a mat-list-item routerLink="/menu/settings">
    <span><mat-icon>settings</mat-icon></span>
    ตั้งค่าหวย
  </a>
  <a mat-list-item routerLink="/menu/notifications">
    <span><mat-icon>notifications</mat-icon></span>
    แจ้งเตือน
  </a>
</mat-nav-list>


