<div class="row">
  <div class="col">
    <h1>ตั้งค่าการเก็บ</h1>
    <form (submit)="onSaveSettings(settingsForm)" #settingsForm="ngForm">
      <div class="row mb-2">
        <p class="pt-2 col-2">3 ตัวโต๊ด</p>
        <div class="col-5">
          <input class="form-control" type="number" name="toddThreeDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">3 ตัวบน</p>
        <div class="col-5">
          <input class="form-control" type="number" name="topThreeDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">3 ตัวล่าง</p>
        <div class="col-5">
          <input class="form-control" type="number" name="downThreeDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">3 ตัวหน้า</p>
        <div class="col-5">
          <input class="form-control" type="number" name="firstThreeDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">3 ตัวท้าย</p>
        <div class="col-5">
          <input class="form-control" type="number" name="lastThreeDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">2 ตัวบน</p>
        <div class="col-5">
          <input class="form-control" type="number" name="topTwoDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">2 ตัวล่าง</p>
        <div class="col-5">
          <input class="form-control" type="number" name="downTwoDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">วิ่งบน</p>
        <div class="col-5">
          <input class="form-control" type="number" name="topRunDigits" ngModel />
        </div>
      </div>
      <div class="row mb-2">
        <p class="pt-2 col-2">วิ่งล่าง</p>
        <div class="col-5">
          <input class="form-control" type="number" name="downRunDigits" ngModel />
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">บันทึกค่าเก็บ</button>
      </div>
    </form>
  </div>

  <div class="col">
    <h1>ตั้งค่าเลขอั้น</h1>
    <form (submit)="onSubmit(submitForm)" #submitForm="ngForm">
      <div class="row mb-2">
        <p class="pt-2 col-2">เลข</p>
        <div class="col-5">
          <input type="number" class="form-control" name="limitNumber" ngModel />
        </div>
      </div>
      
      <div class="row  row-cols-4">
        <div class="radio m-2" *ngFor="let typeNumber of typeNumbers">
          <label class="btn btn-outline-primary">
            <input
              class="form-check-input"
              type="radio"
              name="typeNumber"
              ngModel
              [value]="typeNumber"
              required>
            {{ typeNumber }}
          </label>
        </div>
        <div class="col-2 mt-2">
          <button class="btn btn-primary" type="button" (click)="onSaveNumber(submitForm)">+ เพิ่มเลขอั้น</button>
        </div>
      </div>
      
      <div class="col position-relative">
        <!-- table -->
        <table class="table table-borderless">
          <thead>
            <th>เลข</th>
            <th>ประเภท</th>
          </thead>
          <tbody>
            <tr *ngFor="let data of items">
              <td>
                {{ data.limitNumber }}
              </td>
              <td>
                {{ data.typeNumber }}
              </td>
              <td>
                <button mat-raised-button color="warn" (click)="onRemove(data)">
                  ลบ
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <div class="col-md-9">
            <div class="submitList" style="float: right">
              <button class="btn btn-primary" type="submit" (click)="onSubmit">บันทึกเลขอั้น</button>
            </div>
          </div>
        </div>
      </div> 
    </form>
  </div>
</div>