<div class="row">
  <div class="col">
    <h1>ตั้งค่าเก็บ</h1>
    <div class="card text-center"> 
      <p-toast></p-toast>
          <p-table [value]="categories" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>ประเภท</th>
                      <th>ยอดสะสม (บาท)</th>
                      <th>รับซื้อสะสม (บาท)</th>
                      <th>คงเหลือ (บาท)</th>
                      <th>แก้ไข</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="category">
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.description}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.description}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.purchaseAmount}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.purchaseAmount | number:'1.0'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.purchaseBalance}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.purchaseBalance | number:'1.0'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="category.purchaseMaximum">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.purchaseMaximum | number:'1.0'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowInitRewardPrice(category)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowSavePurchaseMaximum(category)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditRewardPrice(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>

  <div class="col">
    <h1>ตั้งค่ายอดจ่าย</h1>
    <div class="card text-center"> 
      <p-toast></p-toast>
          <p-table [value]="categories" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>ประเภท</th>
                      <th>ยอดจ่าย (บาท)</th>
                      <th>แก้ไข</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="category">
                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.description}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.description}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="category.rewardPrice">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.rewardPrice | number:'1.0'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowInitRewardPrice(category)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowSaveRewardPrice(category)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditRewardPrice(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <h1>ตั้งค่าเลขอั้น</h1>
    <form (submit)="onSaveNumber(submitForm)" #submitForm="ngForm">
      <div class="row mb-2">
        <div class="col-5">
          <p class="pt-2 col-2">เลขอั้น</p>
          <input type="number" class="form-control" name="lottoNo" ngModel/>
        </div>
        <div class="col-5">
          <p class="pt-2 col-2">ราคาจ่าย</p>
          <input type="number" class="form-control" name="rewardPrice" ngModel/>
        </div>
      </div>
      
      <div class="row  row-cols-4">
        <div class="radio m-2" *ngFor="let typeNumber of typeNumbers">
          <label class="btn btn-outline-primary">
            <input
              class="form-check-input"
              type="radio"
              name="typeNumber"
              ngModel
              [value]="typeNumber"
              required>
            {{ typeNumber }}
          </label>
        </div>
        <div class="col mt-2">
          <button class="btn btn-primary" type="button" (click)="onSaveNumber(submitForm)">+ เพิ่มเลขอั้น</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col">
    <h1>เลขอั้น</h1>
    <p-toast></p-toast>
    <div class="card text-center">
      <p-table [value]="categories" dataKey="id" editMode="row">
          <ng-template pTemplate="header">
              <tr>
                  <th>ประเภท</th>
                  <th>เลขอั้น</th>
                  <th>ราคาจ่าย</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="category">
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              {{category.description}}
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{category.description}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              {{category.halfPay[0].lottoNo}}
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{category.halfPay[0].lottoNo}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="category.halfPay[0].rewardPrice">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{category.halfPay[0].rewardPrice | number:'1.0'}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>
    <br>
    <div class="col-2">
      <button class="btn btn-primary" type="button" (click)="onClear()">ล้างข้อมูล</button>
    </div>
  </div>
</div>