<div class="row">
  <div class="col">
    <h1>ตั้งค่าเก็บ</h1>
    <div class="card text-center"> 
      <p-toast></p-toast>
          <p-table [value]="categories" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="category">
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.description}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.description}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="category.purchaseMaximum">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.purchaseMaximum | currency: 'USD'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowInitRewardPrice(category)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowSavePurchaseMaximum(category)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditRewardPrice(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>

  <div class="col">
    <h1>ตั้งค่าตัวคูณ</h1>
    <div class="card text-center"> 
      <p-toast></p-toast>
          <p-table [value]="categories" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="category">
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{category.description}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.description}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="category.rewardPrice">
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{category.rewardPrice | currency: 'USD'}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowInitRewardPrice(category)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowSaveRewardPrice(category)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditRewardPrice(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <h1>ตั้งค่าเลขอั้น</h1>
    <form (submit)="onSubmit(submitForm)" #submitForm="ngForm">
      <div class="row mb-2">
        <p class="pt-2 col-2">เลข</p>
        <div class="col-5">
          <input type="number" class="form-control" name="limitNumber" ngModel/>
        </div>
      </div>
      
      <div class="row  row-cols-4">
        <div class="radio m-2" *ngFor="let typeNumber of typeNumbers">
          <label class="btn btn-outline-primary">
            <input
              class="form-check-input"
              type="radio"
              name="typeNumber"
              ngModel
              [value]="typeNumber"
              required>
            {{ typeNumber }}
          </label>
        </div>
        <div class="col mt-2">
          <button class="btn btn-primary" type="button" (click)="onSaveNumber(submitForm)">+ เพิ่มเลขอั้น</button>
        </div>
      </div>
      
      <div class="col position-relative">
        <table class="table table-borderless">
          <thead>
            <th>เลข</th>
            <th>ประเภท</th>
          </thead>
          <tbody>
            <tr *ngFor="let data of items">
              <td>
                {{ data.limitNumber }}
              </td>
              <td>
                {{ data.typeNumber }}
              </td>
              <td>
                <button mat-raised-button color="warn" (click)="onRemove(data)">
                  ลบ
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <div class="col-md-9">
            <div class="submitList" style="float: right">
              <button class="btn btn-primary" type="submit" (click)="onSubmit">บันทึกเลขอั้น</button>
            </div>
          </div>
        </div>
      </div> 
    </form>
  </div>

  <div class="col">
    <h1>เลขอั้น</h1>
    <p-toast></p-toast>
    <div class="card text-center">
          <p-table [value]="limitNumbers" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                      <th>Number</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-limitNumber let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="limitNumber">
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  {{limitNumber.typeNumber}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{limitNumber.typeNumber}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                {{limitNumber.limitNumber}}
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{limitNumber.limitNumber}}
                              </ng-template>
                          </p-cellEditor>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>
